.markdown-wrapper {
  font-family: BlinkMacSystemFont,"Apple Color Emoji";
  margin: 0px 10vw 2vw 10vw;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: left;
  
  border-radius: 6px;
  background-color: white;
  border: 1px solid #C7CED6;
}