.blurb {
  font-size: 20px;
  text-align: left;
  margin-left: 7vw;
  margin-right: 7vw;
}

.mission-statement {
  text-align: center;
  display: flex;
  justify-content: center;
}

.mission-intro {
  display: flex;
  align-items: center;
}

.mission-statement p {
  font-size: 20px;
}

.headshot {
  width: 20vw;
  border-radius: 50%;
}