.App-header {
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: black;
}

.App-header a {
  letter-spacing: 0.04375em;
}

.header-left {
  display: flex;
  flex: 6;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2vw;
}

.header-link-bold {
  font-weight: 900;
  font-size: calc(15px + 2vmin);
  margin-right: 3vw;
}

.header-right {
  display: flex;
  flex: 6;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.header-link {
  padding: 1vw;
}

.social {
  width: 3vw;
}

@media (max-width: 880px){
  .social {
    width: calc(15px + 4vw);
  } 
}