.App-header {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  flex: 4;
}

.socials {
  flex: 4;
}

.socials a:link {
  color: white;
}

.socials a:visited {
  color: white;  
}

.header-padding {
  flex: 4;
}