.App-header {
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: black;
}

.header-left {
  display: flex;
  flex: 6;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2vw;
}

.header-right {
  display: flex;
  flex: 6;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.header-link {
  padding: 1vw;
}

.social {
  width: 3vw;
}