.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 4vw;
  margin-right: 4vw;
}

.project-card {
  display: flex;
  width: 26vw;
  height: 30vh;
  margin: 2vh;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  border-radius: 10px;
}

.project-card h1 {
  background-color: #F4F8FA;
  padding: 0.5vw;
  border-radius: 7px;
  box-shadow: -5px 5px 5px #4b4b4b;
}